
{% load static %}
<div class="container">
    <div class="footer">
        <div class="row" align="center" style="margin-top: 4px">
            <div class="col-md-4" align="left">
                <p style="margin-top: 6%;">Copyright. Site Bar Example by Saamukai, 2022</p>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-3" style="margin-top: 2%;" align="right" >
                <a href="{% url 'login' %}"><b>Painel do Colaborador</b></a><br>
            </div>
            <div class="col-md-1" align="left">
                <a href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" style="width: 95%;"></a>
            </div>
        </div>
    </div>
</div>
