{% extends 'template.html' %}
{% load static %}
{%block 'title'%} Excluir Categoria {%endblock%}
{% block 'conteudopagina' %}

{% if request.user.is_authenticated %}
<h1>Excluir Categoria</h1>
<p class="lead">Confirme para excluir a categoria</p>
<br>

<form action="" method="POST">
    <p>Deseja excluir a categoria <b>{{ object }}</b>?</p>

    {% csrf_token %}

    {{ form.as_p }}
    <br>

    <button type="submit" class="btn btn-danger">Excluir</button>
</form>

{% else %}
    {% include 'partials/_noPerm.html' %}
{% endif %}

{% endblock %}
