{% extends 'template.html' %}
{% load static %}
{%block 'title'%} Home {%endblock%}
{% block 'conteudopagina' %}
    <h1>Bem Vindo ao <b>BOTECO.</b></h1>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident nesciunt optio, eveniet reprehenderit dolorem quod quisquam
        dignissimos temporibus fugit commodi at amet, deleniti consequuntur vero voluptas sit, placeat deserunt quas?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum expedita aut, eius suscipit praesentium animi culpa non distinctio
        deleniti fugiat itaque nulla earum unde iusto neque consequuntur recusandae doloremque natus.
    </p><br><br>
    <div class="row">
        <div class="col-md-4">
            <img class="imagesposts" src="{% static 'images/posts/img1.jpg' %}">
        </div>
        <div class="col-md-4">
            <img class="imagesposts" src="{% static 'images/posts/img3.webp' %}">
        </div>
        <div class="col-md-4">
            <img class="imagesposts" src="{% static 'images/posts/img6.jpg' %}">
        </div>
    </div>
    <br><br>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium hic dolores architecto voluptates vitae? Dolorum ipsa soluta natus, omnis laborum quaerat sed enim unde accusantium? Ex deserunt consequatur beatae qui?
        Tempore animi nisi delectus quaerat quas? Sed amet, temporibus possimus facere delectus labore voluptas dolore ex quis fugit quasi nulla eaque iste totam ut quas. Quae cupiditate aut officiis ducimus!
        Doloribus veritatis, similique beatae quasi fit, provident nemo quaerat error corporis voluptatem!
    </p>
{% endblock %}
